In [1]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [2]:
cars=pd.read_csv("https://raw.githubusercontent.com/lab-420/ml/main/KNN/car_evaluation.csv")
cars.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
from sklearn.preprocessing import LabelEncoder               # another process of label encoder
encoder=LabelEncoder()
cars.buying=encoder.fit_transform(cars.buying)
cars.head()

   buying  maint  doors  persons lug_boot safety outcome
0       3  vhigh      2        2    small    low   unacc
1       3  vhigh      2        2    small    med   unacc
2       3  vhigh      2        2    small   high   unacc
3       3  vhigh      2        2      med    low   unacc
4       3  vhigh      2        2      med    med   unacc

In [4]:
cars.shape

(1728, 7)

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int64
 1   maint     1728 non-null   object
 2   doors     1728 non-null   int64
 3   persons   1728 non-null   int64
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   outcome   1728 non-null   object
dtypes: int64(3), object(4)
memory usage: 94.6+ KB

In [6]:
cars.outcome.unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [7]:
cars.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [8]:
cars.buying.unique()

array([3, 0, 2, 1])

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
X = cars.iloc[:,:-1]
y = cars.outcome

In [11]:
enc = LabelEncoder()
X.buying= enc.fit_transform(X.buying)
X.maint =enc.fit_transform(X.maint)
X.lug_boot =enc.fit_transform(X.lug_boot)
X.safety =enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [12]:
X.buying.unique() #array(['vhigh', 'high', 'med', 'low'] -> ascending order

array([3, 0, 2, 1])

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [14]:
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
#y_predict
accuracy_score(y_test,y_predict)

0.9236111111111112

In [15]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

         acc       0.79      0.91      0.85        94
        good       0.75      0.35      0.48        17
       unacc       0.97      0.98      0.98       302
       vgood       1.00      0.53      0.69        19

    accuracy                           0.92       432
   macro avg       0.88      0.69      0.75       432
weighted avg       0.93      0.92      0.92       432

In [16]:
confusion_matrix(y_test,y_predict) # acc,good,unacc,vgood

array([[ 86,   0,   8,   0],
       [ 11,   6,   0,   0],
       [  4,   1, 297,   0],
       [  8,   1,   0,  10]])

In [17]:
cars.outcome.unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)